NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

ADMIN_USERNAME=ahleric
ADMIN_PASSWORD=314159Ahleric-

NEXT_PUBLIC_META_PIXEL_ID=        # 可作为全局默认 Pixel ID（若不逐页填）
FB_ACCESS_TOKEN=                  # 可作为全局默认 CAPI Token（若不逐页填）
